{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'textbookFinder/index.css' %}">

	<form style= "margin:8pt; border: solid 2px #c1c1c1;" class = "card" action="{% url 'textbookFinder:index' %}" method="get"> {% csrf_token %}
	<h2 style = "padding: 8pt">Search</h2>
			  <div style = "display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap;">
	        <div class="form-group" style = "flex-grow: 1; padding: 4pt">
	            <select  name = "searchBy" class="form-control" id="exampleFormControlSelect1">
	              <option value="title">Title</option>
	              <option  value="author">Author</option>
	              <option value="class">Class</option>
	              <option value="isbn">ISBN</option>
	            </select>
	        </div>
	        <div class = "form-group" style = "flex-grow: 2; padding: 4pt">
	          <div style = "display: flex; flex-direction: row">
	            <input class="form-control" type="text" name="searchValue" placeholder="Search">
	            <input type="submit" class="btn btn-primary" value="Submit"></input>
	          </div>
	        </div>
	        <div class="form-check" style = "padding-left: 15pt; padding-right: 8pt; padding-top: 5pt">
	        	<span>Sort By: </span>
	        	<select name="sort">
	        		<option value="Date">Date</option>
	        		<option value="LoHiPrice">Price: Lo-Hi</option>
	        	</select>
	        </div>
	      </div>

	      <div style = "display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap;">
	        <div class="form-group">
	            <h6>Filters</h6>

	            <div class = "form-check">
	              <input  class="form-check-input"  type="checkbox" name="hardCover"  value="hardCover">
	              <label class="form-check-label" > Hard Cover</label>
	            </div>
	            <div class = "form-check">
	              <input class="form-check-input"  type="checkbox" name="paperBack" value="paperBack">
	               <label class="form-check-label" > Paper Back</label>
	            </div>
	            <div class = "form-check">
	              <input class="form-check-input"  type="checkbox" name="looseLeaf" value="looseLeaf">
	               <label class="form-check-label" > Loose Leaf</label>
	            </div>
	            <div class = "form-check form-check-inline">
	              <input class="form-check-input"  type="checkbox" name="pdf" value="pdf">
	               <label class="form-check-label"> PDF </label>
	            </div>
	        </div>

	        <div>
	              <h6>Price Range</h6>
	              <div class = "form-group" style = "display: flex; flex-direction: row">
	                    <input  class="form-control" type="number"  name="lowerPrice"  step = 0.01>
	                    <p style = "padding: 3pt">To</p>
	                    <input  class="form-control" type="number"  name="upperPrice" step = 0.01>
	              </div>
	      	</div>
	       </div>
	    </div>
     </div>
	</form>

<h2 style="padding:10pt;">
	  All Listings
</h2>
<div class="card-columns" style = "padding: 8pt">
	{% for book in object_list %}
		<div class="card" style="width: 22rem;">
			<a href="{% url 'textbookFinder:listing' book.id %}" class="card-link">
			 <div class="card-body">
				 <h5 class="card-title">{{ book.name}}</h5>
				 <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
				 {% if book.is_sold == True %}
				  <p class="card-text">Sold.</p>
					{% else %}
					<p class="card-text">Price: ${{book.price}}</p>
					{% endif %}
				</a>
			</div>
		</div>
		{% endfor %}
</div>

{% endblock %}
